html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* ---- particles.js container ---- */

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: relative;
  width: 100vw;
  height: 55vh;
  background-color: black;
}
